.sales-analytics {
  .recharts-text {
    font-size: 14px;
  }

  .recharts-legend-item {
    cursor: pointer;
  }

  h5 {
    color: #2c3e50;
    font-weight: 600;
  }
}
.css-113d811-MuiFormLabel-root-MuiInputLabel-root {
  background: white;
}