@import '../../styles/global.scss';

.sidebar {
  width: 20%;
  min-width: 200px;
  height: calc(100vh - 60px); // Adjust for topbar height
  background-color: $sidebar-bg;
  color: $text-color;
  padding: 15px;
  padding-top: 2rem;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  transition: all 0.3s ease;

  nav a {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin: 6px 0;
    background-color: transparent;
    color: $text-color;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;

    .icon {
      margin-right: 10px;
      font-size: 1.2rem;
      color: $text-color;
      transition: color 0.3s;
    }

    &:hover {
      background-color: $sidebar-link-hover;

      .icon {
        color: #fff; // Ensure icon also changes color on hover
      }
    }

    &.disabled {
      pointer-events: all;
      cursor: not-allowed;
      opacity: 0.5;
    }

    &.active {
      background-color: $sidebar-link-active;

      .icon {
        color: #fff;
      }
    }
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}
